footer {
	width: 100%;
	height:30px;
	float: left;
	background-color: rgb(255,255,255);
	color: rgba(0,2,102,0.8);
	text-align: center;
    line-height:30px;
    font-family:'Rammetto One', cursive;    
    padding-top: 300px;
}
