nav   {
width: 100%;
height:40px;
float: left;
text-align: center;
font-family:'Encode Sans Semi Condensed', sans-serif;
}



nav a {
	display: block;
	width: 25%;
	height: 100%;
	float: left;
	background-color: rgba(0,2,102,0.8);
	line-height: 50px;
	color: white;
	text-decoration: none;
	line-height: 40px;
	transition: 2s ease;

}

nav a:hover  {
   background-color: rgb(20,30,68);
   cursor: pointer;