
@import url(podela/footer.css);
@import url(podela/header.css);

* {
	margin: 0;
	padding: 0;
}

#contact_body {
	width: 100%;
	height: auto;
	float: left;
}

.podela {
	width: 50%;
	height: 100%;
	float: left;
	text-align: center;
}

.podela img {
	width:350px;
	height:250px;
	
}

.podela h1 {
	margin-top: 50px;
	color: rgb(23,56,79);

}

form {
	width:100%;
	height: 500px;
}
form input {
   display: block;
   width: 300px;
   height: 30px;
   margin-top: 80px;
   margin-left: 80px;
   padding-left: 5px;
   border-style:double;

}

form input[type-text] {
	width: 500px;
}

textarea {
   display: block;
   width: 300px;
   height: 100px;
   margin-top: 80px;
   margin-left: 80px;
   padding-left: 5px;
   border-style:double;
}

