
@import url(podela/footer.css);
@import url(podela/header.css);


* {
	margin:0;
	padding: 0;
	font-family:'Encode Sans Semi Condensed', sans-serif;
}



}

section { 
	width: 100%
	height:500px;
	float: left;
    
}

article {
	width: 40%;
	height: 100%;
	float: left; 
	text-align: left;
    padding: 50px;
}



article {
    
    padding-top: 40px;
	padding-bottom: 40px;
	

}

@media only screen and (min-width:641px) and (max-width: 990px) {
    
    
}

@media only screen and (min-width:0px) and  (max-width: 640px) {

	

	
}




